[submodule "external/hello_imgui"]
	path = external/hello_imgui
	url = https://github.com/pthom/hello_imgui
[submodule "external/scratch2"]
	path = external/scratch2
	url = https://github.com/codecat/scratch2.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/zydis"]
	path = external/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
